<div class="search" style="text-align: center; width: 100%">
  <form class="form-inline">
    <mat-form-field >
      <input type="text" matInput placeholder="Szukaj quizu">
    </mat-form-field>
  </form>
</div>
<div class="container">
  <div class="card-wrapper">
    <div class="d-md-inline-flex row justify-content-center">
    <mat-card class="example-card" *ngFor="let quiz of quizes" style="min-width: 200px; margin: 50px">
      <div>
        <mat-card-header>
          <mat-card-title>{{quiz.name}}</mat-card-title>
          <mat-card-subtitle>
            {{quiz.description}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-icon>hourglass_full</mat-icon>
        <mat-card-content>
          <p>
            {{quiz.description}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <div style="text-align: center">
            <button mat-raised-button color="accent" (click)="openQuiz(quiz.id)">Quizuj</button>
            <br/>
            <div style="margin: 20px">
              <button mat-raised-button color="warn">Edytuj</button>
              <button mat-raised-button color="primary">Udostępnij</button>
            </div>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
    </div>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="totalElements" (page)="nextPage($event)"> </mat-paginator>
</div>

