.quizCard {
  background-color: #92e0f6;
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 1s;
}
.quizCard:hover {
  background-color: #2855f1;
  transition-delay: 0.1s;
  transition-timing-function: linear;
  transition-duration: 1s;
}
.example-spacer {
  flex: 1 1 auto;
}
