home-background{
  background-color: whitesmoke;
}
.example-card {
  display: inline-block;
  background-color: white;
  transition-delay: 0.3s;
  transition-timing-function: linear;
  transition-duration: 5s;
  transition: background-color 2s ease-out;
}
.example-card:hover {
  background-color: lightgray;
  transition-delay: 0.3s;
  transition-timing-function: linear;
  transition-duration: 5s;
  transition: background-color 2s ease-out;
}
mat-card-actions{
  display: inline-block;
  align-self: flex-end;
}
