
<div class="toolbar" role="banner">
  <a href="/">
    <div>
      <span>Quizowanie PWA</span>
    </div>
  </a>
    <div class="spacer"></div>
    <a href="/create" title="Utwórz quiz">
      <img src="https://img.icons8.com/external-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto/64/000000/external-plus-multimedia-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto.png" width="32px"/>
    </a>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer font-small special-color-dark pt-4">
  <div class="footer-copyright text-center py-3" style="padding: 10px"><b>© 2022 Dawid Kańtoch IPpp40</b></div>
</footer>


