<div class="toolbar" role="banner">
  <a href="/">
    <div>
      <span>Quizowanie PWA</span>
    </div>
  </a>
    <div class="spacer"></div>
  <span class="example-spacer"></span>
  <button mat-raised-button mat-button color="accent" (click)="addToHomeScreen()" style="margin-right: 25px">Zainstaluj <mat-icon>get_app</mat-icon></button>
    <a href="/create" title="Utwórz quiz"style="margin-right: 25px">
      <button mat-icon-button type="button"><mat-icon>add</mat-icon></button>
    </a>
</div>
<div class="content" role="main" style="min-height: 85vh">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small special-color-dark pt-4">
  <div class="footer-copyright text-center py-3" style="text-align: center"><b>© 2022 Dawid Kańtoch IPpp40</b></div>
</footer>
